@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5">
    <h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger mb-4">You do not have permission to access this resource.</h2>
    <img src="~/images/access-denied.png" alt="Access Denied" style="max-width: 150px;" class="mb-4" />
    <div>
        <a asp-page="/Index" class="btn btn-primary">Return to Home Page</a>
    </div>
</div> 