@page
@using global::Pages.Roles
@model EditPermissionsModel
@{
    ViewData["Title"] = "Rol Düzenle";
}

<h1>Roller ve Yetkiler</h1>

<form method="post">
    <input type="hidden" asp-for="RoleId" />
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Permissions</label>
        <div>
            @for (int i = 0; i < Model.Permissions.Count(); i++)
            {
                var permission = Model.Permissions[i];
                <input type="hidden" asp-for="Permissions[i].PermissionId" /> <!-- Hidden field for binding -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Permissions[i].IsAssigned" />
                    <label class="form-check-label" asp-for="Permissions[i].PermissionId" >
                        @permission.PermissionName
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>