@page
@model DeleteModel
@{
    if (ViewData != null)
    {
        ViewData["Title"] = "Ekipman Sil";
    }
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <h3>Bu ekipman&#305; silmek istedi&#287;inize emin misiniz ?</h3>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">Ad&#305;</dt>
        <dd class="col-sm-10">@Model.Equipment.Name</dd>
        <dt class="col-sm-2">A&ccedil;&#305;klamas&#305;</dt>
        <dd class="col-sm-10">@Model.Equipment.Description</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Equipment.Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-page="Index" class="btn btn-secondary">Ekipman Listesi</a>
    </form>
</div> 